.main-menu {
  background: var(--bs-border-color);
  border-color: #d1d5de;
  padding: 0;
}

.dash-content {
  height: 79vh;
  padding-right: 0;
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #B7B6C2;
}

.dash-footer {
  background: var(--bs-border-color);
  height: 78px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.dash-footer-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.index-footer-col, .dash-footer-col {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.bg-color-footer {
  border-color: rgba(0,0,0,0.9);
}

.index-hero {
  height: 79vh;
  background: radial-gradient(rgba(5,11,58,0.39), rgba(2,15,25,0.89) 99%), url("../../assets/img/hero2.jpg") center / cover no-repeat, var(--bs-orange);
  color: var(--bs-white);
  text-shadow: 0px 0px, 0px 0px;
  margin: 0px;
}

.index-hero-row {
  text-align: center;
  height: 100%;
}

.index-hero-btn {
  box-shadow: 0px 0px;
  border-radius: 20px;
}

.index-hero-btn-small {
  box-shadow: 0px 0px;
  border-radius: 20px;
}

.index-footer {
  background: var(--bs-border-color);
  height: 78px;
}

.index-footer-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.bg-color-newapp {
  background: #657153;
}

.newapp-navbar {
  background: var(--bs-border-color);
  border-color: #d1d5de;
  padding: 0;
  box-shadow: 0px 0px, 2px 4px #00000015;
}

.newapp-content {
  padding: 0px;
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 0;
  position: static;
  height: 79vh;
}

.newapp-content-row {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.newapp-content-bg-color {
  background: #8AAA79;
}

.newapp-content-submit-btn {
  margin-top: 1.5rem;
}

.newapp-footer {
  background: var(--bs-border-color);
  height: 78px;
  padding: 0;
  padding-left: 0;
}

.newapp-footer-row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.newapp-footer-col {
  width: 100%;
  padding: 0;
}

