{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Centered-Links-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="javascript" href="{{ url_for('static', filename='js/dashboard.js') }}">
{% endblock %}

{% block app_content %}
<div class="container dash-content">
    <div class="row">
    <h2 class="display-6 mt-2">Dashboard</h2>
        <div class="col py-3">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Customers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">New</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">

                        <div class="dash-customer-listing">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Actions</th>
                                            <th>Full name</th>
                                            <th>Email</th>
                                            <th><br>Phone</th>
                                            <th>SSN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in customers %}
                                        <tr>
                                            <td class="dash-centered">
                                                <button id="{{ "btn-submit-%d" % c.id }}" class="btn btn-primary btn-sm">Delete</button>
                                            </td>
                                            <td><a href="{{ url_for('main.edit_customer', customer_id=c.id) }}">{{ c.first_name + ' ' + c.last_name }}</a></td>
                                            <td>{{ c.email }}</td>
                                            <td>{{ c.phone }}</td>
                                            <td>{{ c.ssn }}</td>
                                        {% endfor %}
                                        
                                </table>
                            </div>
                        </div>

                    </div>

                    <!-- Tab 2 -->
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="container d-xl-flex align-items-sm-start">
                            <div class="row newapp-content-row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                    <form method="POST">
                                        
                                        {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
                                        {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
                                        {{ form.dob.label }} {{ form.dob(class="form-control") }}
                                        {{ form.phone.label }} {{ form.phone(class="form-control") }}
                                        {{ form.ssn.label }} {{ form.ssn(class="form-control") }}
                                        {{ form.email.label }} {{ form.email(class="form-control") }}
                                        {{ form.submit(class="btn btn-primary d-inline-flex float-end newapp-content-submit-btn") }}

                                        <div class="form-check newapp-checkbox">
                                            <input id="formCheck-1" class="form-check-input" type="checkbox" name="clear" value="clear_value" checked />
                                            <label class="form-check-label" for="formCheck-1">
                                            Clear
                                            </label>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
