{% extends "base.html" %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Centered-Links-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ms_form.css') }}">
	<script type='text/javascript' src="{{ url_for('static', filename='js/ms_form.js') }}"></script>
{% endblock %}

{% block app_content %}
<section class="container dash-content">
	<div class="row">
	<h2 class="display-6 mt-2">Dashboard</h2>
		<div class="col py-3">
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Customers</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">New</a></li>
				</ul>
				<div class="tab-content">

					<!-- Tab 1 -->
					<div class="tab-pane active" role="tabpanel" id="tab-1">

						<div class="dash-customer-listing">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th style="text-align: center;">Actions</th>
											<th>Full name</th>
											<th>Email</th>
											<th><br>Phone</th>
											<th>SSN</th>
										</tr>
									</thead>
									<tbody>
										{% for c in customers %}
										<tr>
											<td class="dash-centered">
												<button id="{{ "btn-submit-%d" % c.id }}" class="btn btn-primary btn-sm delete_button">Delete</button>
											</td>
											<td><a href="{{ url_for('main.edit_customer', customer_id=c.id) }}">{{ c.first_name + ' ' + c.last_name }}</a></td>
											<td>{{ c.email }}</td>
											<td>{{ c.phone }}</td>
											<td>{{ c.ssn }}</td>
										{% endfor %}
										
								</table>
							</div>
						</div>

					</div> <!-- Tab 1 -->

					<!-- Tab 2 -->
					<div class="tab-pane" role="tabpanel" id="tab-2">

						{% include './ms_form.html' %}

					</div> <!-- Tab 2 -->

			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
	{{ super() }}

	<!-- Optional JavaScript -->
{% endblock %}


